* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: #e2e8f0;
  height: 100vh;
}

.grid-container {
  display: grid;
}

.header {
  text-align: center;
}

.header-text {
  font-size: xx-large;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main {
  display: grid;
  gap: 15px;
  justify-items: center;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  width: 60%;
}

.book-card {
  background-color: #f1f5f9;
  border-radius: 5px;
  padding: 10px;
}

.book-information {
  display: flex;
  align-items: center;
  gap: 10px;
}

.book-label,
.book-info {
  width: 100px;
  height: 35px;
}

.book-info {
  width: fit-content;
}

input[type='checkbox'] {
  align-self: baseline;
}

.book-buttons {
  padding-top: 10px;
}

.button {
  padding: 8px 20px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #cbd5e1;
  cursor: pointer;
}

.button:active {
  background-color: #a6afba;
}

.add-button {
  margin-top: 10px;
}
