* {
  margin: 0;
  box-sizing: border-box;
  --red: #ee9090;
  --green: #90ee90;
  --grey: #cbd5e1;
  --red-active: #ff9a9a; 
  --green-active: #84f884;
  --grey-active: #c5cbd3;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: #e2e8f0;
  height: 100vh;
}

.header {
  text-align: center;
}

.header-text {
  font-size: xx-large;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main {
  display: grid;
  gap: 15px;
  justify-items: center;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  width: 60%;
}

.book-card,
dialog {
  background-color: #f1f5f9;
  border-radius: 5px;
  padding: 10px;
}

.book-card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 8px 20px;
  border: 0px solid;
  border-radius: 10px;
  background-color: var(--grey);
  cursor: pointer;
  align-self: stretch;
}

.button.delete-button {
  background-color: var(--red);
  align-self: stretch;
}

.button:active {
  background-color: var(--grey-active);
}

.button.delete-button:active {
  background-color: var(--red-active);
}

.add-button {
  margin-top: 10px;
}

dialog {
  margin: auto;
  border: 0px solid;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

form div {
  display: flex;
  gap: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
.modalLabel {
  align-self: baseline;
  font-size: 1.2rem;
}

.formSubmitButton {
  background: var(--green);
}

.formSubmitButton:active {
  background-color: var(--green-active);
}